@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
  text-transform: capitalize;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background: #2a201c;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem .2rem;
}
.container .title{
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.container .products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.container .products-container .product{
  text-align: center;
  padding: 3rem 2rem;
  background: #fff;
  box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
  outline: .1rem(solid #ccc);
  outline-offset: -1.5rem;
  cursor: pointer;
}
.container .products-container .product:hover{
  outline: .2rem(solid #fff);
  outline-offset: 0;
}
.container .products-container .product img{
  height: 25rem;
}
.container .products-container .product img:hover{
  transform: scale(.9);
}
.container .products-container .product h3{
  padding: 5rem 0;
  font-size: 2rem;
  color: #444;
}
.container .products-container .product:hover h3{
  color: #27ae60;
}
.container .products-container .product .price{
  font-size: 2rem;
  color: #444;
}

.products-preview{
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-preview .preview{
  display: none;
  padding: 2rem;
}
.products-preview .preview.active{
  display: inline-block;
}